
:root {
    --primary: #00bfff;
    --settings: #f0f0f0;
}

.dark-mode {
    --primary: #1e1e1e;
    --settings: #2c2c2c;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--primary);
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary);
}

.top {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: relative; 
}

.distance {
    color: yellow;
    font-size: 1.5em;
    margin: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.settings-icon {
    cursor: pointer;
    margin: 20px;
    justify-content: end;

}

.settings-img {
    width: 30px;
    height: 30px;

}

.settings-page {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 33.33%;
    height: 100%;
    background-color: var(--settings);
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 1000;

}

.settings-page.active {
    display: block;

}

.settings-page h2 {
    color: #333;
    margin-bottom: 20px;

}

.option {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #00bfff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.back-button:hover {
    background-color: #008cbf;

}

body.dark-mode .back-button {
    background-color: #444141;

}

body.dark-mode .back-button:hover {
    background-color: #706666;

}

.controls-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

}

.arrow-buttons {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    gap: 10px;
    align-items: center;
    justify-items: center;

}

.arrow {
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    box-shadow: 7px 7px 7px;

}

.arrow:hover {
    background-color: olive;

}

.arrow.arrow-up {
    grid-column: 2; 
    grid-row: 1; 

}

.arrow.arrow-left {
    grid-column: 1; 
    grid-row: 2;

}

.arrow.arrow-right {
    grid-column: 3;
    grid-row: 2;

}

.arrow.arrow-down {
    grid-column: 2; 
    grid-row: 3; 

}

.joystick {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50%;
    position: relative; 
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px;

}

.inner-circle {
    width: 50px;
    height: 50px;
    background-color: olive;
    border-radius: 50%;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px;

}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;

}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    transition: 0.4s;
    border-radius: 25px; 

}

.toggle-label::before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: olive;
    border-radius: 50%;
    transition: transform 0.3s;

}

.toggle-input:checked + .toggle-label {
    background-color: yellow; 

}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(25px); 

}

.emojis {
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;

}

.emoji {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-color: yellow;
    border: none; 
    border-radius: 50%;
    position: absolute;
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 4px 4px 4px;

}

.emoji:hover {
    background-color: olive; 

}

.horn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/images/horn.png');

}

.emoji-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/images/triangle.png');

}

.emoji-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/images/square.png');

}

.emoji-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url('/images/circle.png');
    background-position: center;

}

.emoji-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url('/images/cross.png');

}


@media (max-width: 800px) {
    .container {
        height: 100vh; 
        width: 100vw;
    }
}