:root {
    --primary: #00bfff;
    --settings: #f0f0f0;
    --font-color: #000;
    --back-button: #00bfff;
    --back-button-hover: #008cbf;
    --box-shadow: #000;
}

.dark-mode {
    --primary: #1e1e1e;
    --settings: #2c2c2c;
    --font-color: #fff;
    --back-button: #444141;
    --back-button-hover: #706666;
    --box-shadow: #535252;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--primary);
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary);
}

.top {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: relative; 
}


.bluetooth-controls {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color);
}

#connect{
    background-color: yellow;
    border: solid yellow 1px;
    font-size: medium;
    box-shadow: 4px 4px 4px var(--box-shadow);

}

#disconnect{
    background-color: yellow;
    border: solid yellow 1px;
    font-size: medium;
    box-shadow: 4px 4px 4px var(--box-shadow);

}

.distance {
    color: yellow;
    font-size: 1.5em;
    margin: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.settings-icon {
    cursor: pointer;
    margin: 20px;
    justify-content: end;

}

.settings-img {
    width: 30px;
    height: 30px;

}

.settings-page {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 33.33%;
    height: 100%;
    background-color: var(--settings);
    color: var(--font-color);
    padding: 20px;
    box-shadow: -2px 0 10px var(--box-shadow);
    overflow-y: auto;
    z-index: 1000;

}

.settings-page.active {
    display: block;

}

.option {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: var(--font-color);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.back-button:hover {
    background-color: var(--back-button-hover);

}

body.dark-mode .back-button {
    background-color: var(--back-button);

}

body.dark-mode .back-button:hover {
    background-color: var(--back-button-hover);

}

.controls-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

}

.arrow-buttons {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    gap: 24px;
    align-items: center;
    justify-items: center;

}

.arrow {
    width: 80px;
    height: 80px;
    font-size: 1.5em;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    box-shadow: 4px 4px 4px var(--box-shadow);

}

.arrow:hover {
    background-color: olive;

}

.arrow.arrow-up {
    grid-column: 2; 
    grid-row: 1; 

}

.arrow.arrow-left {
    grid-column: 1; 
    grid-row: 2;

}

.arrow.arrow-right {
    grid-column: 3;
    grid-row: 2;

}

.arrow.arrow-down {
    grid-column: 2; 
    grid-row: 3; 

}

.joystick {
    width: 240px;
    height: 240px;
    background-color: yellow;
    border-radius: 50%;
    position: relative; 
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px var(--box-shadow);

}

.joystick-wrapper {
    position: relative;
}

.joystick-position {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: yellow;
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
    white-space: nowrap;
}

.inner-circle {
    width: 70px;
    height: 70px;
    background-color: olive;
    border-radius: 50%;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px var(--box-shadow);

}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;

}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    transition: 0.4s;
    border-radius: 25px; 

}

.toggle-label::before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: olive;
    border-radius: 50%;
    transition: transform 0.3s;

}

.toggle-input:checked + .toggle-label {
    background-color: yellow; 

}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(25px); 

}

.emojis {
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;

}

.emoji {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-color: yellow;
    border: none; 
    border-radius: 50%;
    position: absolute;
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 4px 4px 4px var(--box-shadow);

}

.emoji:hover {
    background-color: olive; 

}

.horn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/horn.png');

}

.emoji-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('images/triangle.png');

}

.emoji-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('images/square.png');

}

.emoji-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url('images/circle.png');
    background-position: center;

}

.emoji-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url('images/cross.png');

}


@media (max-width: 800px) {
    .container {
        height: 100vh; 
        width: 100vw;
    }
}